img{
	width:30%;
	float:left;
	margin:1.66%;
	border-bottom:1px solid #808080;
}
h1{
	font-family:Raleway;
	border-bottom:4px solid #808080;
	margin:1.66%;
	width:30%;
	padding-bottom:20px;

}